* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}

.box-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8,
.box-9 {
  height: 180px;
  width: 180px;
  border: 0.01px solid black;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6,
.row-7,
.row-8,
.row-9 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border: 0.01px solid black;

  height: 60px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  cursor: pointer;
  border: 0.5px solid lightblue;
  width: 60px;
}

.col-1:hover,
.col-2:hover,
.col-3:hover,
.col-4:hover,
.col-5:hover,
.col-6:hover,
.col-7:hover,
.col-8:hover,
.col-9:hover {
  background-color: #bbdefc;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.solve-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.solve-button:hover {
  background-color: #4caf50;
  color: white;
}
